name: Test image build
on:
  pull_request:
    paths:
      - Dockerfile

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          image: kanister-kubectl-1.27
          tags: ${{ github.sha }}
          containerfiles: |
            ./Dockerfile

  dependabot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    needs:
      - test
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Get Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Enable auto-merge for Dependabot PRs
        if: contains(steps.metadata.outputs.dependency-names, 'kanisterio/kanister-tools')
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: gh pr merge --auto --merge "$PR_URL"
